# Database
USERS_DB_NAME=diaghealthy_users
SCHEDULING_DB_NAME=diaghealthy_scheduling
NOTIFICATION_DB_NAME=diaghealthy_notification
HISTORY_DB_NAME=diaghealthy_history

DB_USER=postgres
DB_PASSWORD=your_password

# JWT
JWT_SECRET=your_jwt_secret

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_rabbitmq_password